@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;

    overflow-x: hidden;
    background: #c2c2c21d;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
      background: rgba(128, 128, 128, 0.434);
    }
    
    body::-webkit-scrollbar-thumb {
      background: rgb(16 185 129);
  }